# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
data/
models/*.pth
*.log
*.pid
.DS_Store

# IDEs
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/